# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Vite build
dist/
.vite/

# Logs
logs
*.log

# Env
.env
.env.local
client/.env
server/.env

# Uploads
uploads/

# IDE
.vscode/
.idea/
.DS_Store
